@import 'reset';
@import 'bourbon';
@import 'neat';
@import 'border-box';

html {
  box-sizing: border-box;
  background-color: #9933FF;
}
*, *:before, *:after {
  box-sizing: inherit;
}

form {
    text-align: center;
    padding: 3em;
    font-family: Verdana;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
    width: 25em;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%)
}
input[type=text] {
    border: 2px solid #9999FF;
    height: 2em;
}
form p {
    padding-bottom: 1em;
    padding-top: 1em;
}
button {
    display: block;
    margin: auto;
    position: relative;
    top: 1.5em;
    font-size: 1em;
    border: 2px solid #9999FF;
    background-color: white;
}
