{{!-- shows list of submitted tags --}}
<ul class="bookmark-list">
    {{#each this as |bookmark|}}
     <li>
         <a href="#{{bookmark.url}}">{{ bookmark.title }}</a>
     </li>
    {{/each}}
</ul>
