<form>
    <div class="create">
        <form>
            Post Title: <input type="text" id="title"> {{ post.title }}
            Post Body: <input type="text" id="body"> {{ post.body }}
            <button>Submit New Post</button>
        </form>
    </div>
</form>
