<form>
    <div class="create">
        <form>
            <input type="text" class="create-title"> {{ title }}
            <input type="text" class="create-body"> {{ body }}
            <button>Submit New Post</button>
        </form>
    </div>
</form>

Create Template
