{{!-- Title, Post Body, Date --}}

<form>
    <div class="blog-post">
        <p>Title:</p>
        <input type="text" id="title"> {{ title }}
        <p>Content:</p>
        <input type="text" id="body"> {{ body }}
        <p>Date:</p>
        <input type="text" id="date"> {{ date }}
    </div>
</form>
