<div class="main">
    <form>
        <input type="text" class="title" value="{{ title }}">
        <input type="text" class="body" value="{{ body }}">
    </form>
</div>

<div class="edit">
    <a href="#"><button>Save Post</button></a>
</div>
<div class="delete">
    <a href="#"><button class="delete">Delete Post</button></a>
</div>
