<div class="main">
    <form>
        <input type="text" id="title" value="{{ title }}">
        <input type="text" id="body" value="{{ body }}">
    </form>
</div>

<div class="edit">
    <a href="#"><button class="save-button">Save Post</button></a>
</div>
<div class="delete">
    <a href="#"><button class="delete-button">Delete Post</button></a>
</div>
