{{!-- firstName, lastName, eMail --}}

<form>
    <p>First Name:</p>
    <input type="text" class="firstName"> {{ firstName }}
    <p>Last Name:</p>
    <input type="text" class="lastName"> {{ lastName }}
    <p>E-Mail:</p>
    <input type="text" class="eMail"> {{ eMail }}
    <button class="submit">Submit</button>
</form>
