{{!-- firstName, lastName, address, phone --}}

<form>
    <p>First Name:</p>
    <input type="text" id="first-name"> {{ first-name }}
    <p>Last Name:</p>
    <input type="text" id="last-name"> {{ last-name }}
    <p>Address:</p>
    <input type="text" id="address"> {{ address }}
    <p>Phone Number:</p>
    <input type="text" id="phone"> {{ phone }}
    <button id="submit">Submit</button>
</form>
