{{!-- firstName, lastName, eMail --}}

<form>
    <p>First Name:</p>
    <input type="text" id="first-name"> {{ first-name }}
    <p>Last Name:</p>
    <input type="text" id="last-name"> {{ last-name }}
    <p>E-Mail:</p>
    <input type="text" id="e-mail"> {{ e-mail }}
    <button id="submit">Submit</button>
</form>
