{{!-- firstName, lastName, eMail --}}

<form>
    <p>First Name:</p>
    <input type="text" class="firstName"> {{ first-name }}
    <p>Last Name:</p>
    <input type="text" class="lastName"> {{ last-name }}
    <p>E-Mail:</p>
    <input type="text" class="e-mail"> {{ e-mail }}
    <button class="submit">Submit</button>
</form>
