{{!-- the form to submit new URLs & tags --}}
<form>
    <p class="p-title">Title:</p>
    <input type="text" id="title">
    <p class="p-url">URL:</p>
    <input type="text" id="url">
    <p class="p-tag">Tag:</p>
    <input type="text" id="tag">
    <div class="button">
        <button>
            Submit New Entry
        </button>
    </div>
</form>
