{{!-- Post Titles, Date --}}
{{!-- for each --}}

{{#each this as |post|}}
    <div class="sidebar">
        <p>Title:</p>
        <a href="#{{ post._id }}/view" class="title">{{ post.title }}</a>
    </div>
{{/each}}
