{{#each this as |post|}}
    <div class="sidebar">
        <p class="text-sidebar">Read this Post: <a href="#{{ post._id }}/view" class="title">{{ post.title }}</a></p>
    </div>
{{/each}}

Sidebar Template
